# Importing Pandas Library

In [2]:
import pandas as pd

## Reading the dataset

### Dataset used in this project :-  __[Netflix Dataset](https://www.kaggle.com/datasets/shivamb/netflix-shows)__
- You can Use Kaggle API also to connect with the dataset.
- Or You can directly download to local device and add it in project folder.

In [3]:
df=pd.read_csv('netflix_titles.csv')

## Connecting to the sql server

In [20]:
import sqlalchemy as sal
engine = sal.create_engine("mssql://AD\SQLEXPRESS/ananthdb1?driver=ODBC+DRIVER+17+FOR+SQL+SERVER")
conn=engine.connect()

## Loading the data into the database
- Since it is a ELT project, we are loading the data into a database and then transform the data to make analysis.
- Therefor we close the connection with the database immedietly after the data loaded into it.

In [6]:
df.to_sql("netflix_raw",con=conn,index=False, if_exists="replace")
conn.close()

## Exercise
==> All the analysis will be made in database, The below cells are used for my exercise

In [9]:
len(df)

8807

In [10]:
df[df['show_id']=='s5023']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5022,s5023,Movie,반드시 잡는다,Hong-seon Kim,Baek Yoon-sik,South Korea,"February 28, 2018",2017,TV-MA,110 min,"Dramas, International Movies, Thrillers",After people in his town start turning up dead...

In [12]:
df['show_id'].str.len()

0       2
1       2
2       2
3       2
4       2
       ..
8802    5
8803    5
8804    5
8805    5
8806    5
Name: show_id, Length: 8807, dtype: int64

In [14]:
max(df['show_id'].str.len())

5

- if any column contains null value, it shows the maximun value of that column as nan(null)

In [19]:
max(df.cast.str.len())

nan

In [16]:
max(df.cast.dropna().str.len())

771

##### To append the data again after resturcturing the table.

In [21]:
df.to_sql("netflix_raw", con=conn, index=False, if_exists='append')
conn.close()

#### To check the null values

In [ ]:
df.isna().sum()